.button-black {
    background-color: #001f3f!important;
    border-color: #001f3f!important;
}
.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: white;
}
.button-black.button-clear {
    border-color: transparent;
}
.full-button {
    width: 100%;
}
.text-center {
    text-align: center;
}
.modal-error-message {
    color: #ca4d4d;
}

.button-blue {
    background-color: #0074D9!important;
    border-color: #0074D9!important;
}
.button-blue.button-clear,
.button-blue.button-outline {
    background-color: transparent;
    color: white;
}
.button-blue.button-clear {
    border-color: transparent;
}